    <!-- Services -->
    <section id="services">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">БалАвтоТрейд</h2>
              <h3 class="section-subheading text-muted">Дорога к впечатлениям...</h3>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">Кто мы?</h4>
              <p class="text-muted"> Мы многопрофильная компания, специализирующаяся на отдыхе, который отвечает запросам самых взыскательных туристов, а так же предоставляет транспортные услуги по организации междугородних и международных пассажирских перевозок, осуществляет обслуживание индивидуальных клиентов и корпоративных групп, школьников и взрослых на кратковременные и длительные поездки</p>
            </div>
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">Цель компании?</h4>
              <p class="text-muted">Способствовать развитию цивилизованного рынка туристических услуг, обеспечивая по доступным ценам отдых, соответствующий лучшим международным стандартам. «Бал-авто-трейд» учитывает индивидуальные потребности и пожелания каждого клиента – вы отправляетесь на отдых, начните отдыхать после обращения к нам! </p>
            </div>
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">Почему именно мы?</h4>
              <p class="text-muted">Наши сотрудники обеспечат вам полный пакет услуг, от оформления визы до подбора экскурсий, который вы захотите посетить, сообщат о погоде в выбранной стране, подскажут, что лучше взять с собой, окажут помощь в случае форс-мажорных обстоятельств.</p>
            </div>
          </div>
        </div>
      </section>